.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: gray;
    border-color: gray;
}

.affix a {
    color: yellow !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top a {
    padding: 25px !important;
}

.affix+.container-fluid {
    padding-top: 95px;
}



.parallax-carousel-1 {
    /* The image used */
    background-image: url("../img/mrm.jpg");
    /* Set a specific height */
    height: 480px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-carousel-2 {
    /* The image used */
    background-image: url("../img/lecture.png");
    /* Set a specific height */
    height: 480px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-carousel-3 {
    /* The image used */
    background-image: url("../img/customapp.jpg");
    /* Set a specific height */
    height: 480px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text-justify {
    text-align: justify;
}

img{
    display: block;
    margin: auto;
}

.my-w3card{
    box-shadow: 5px 5px 5px #888888;
}

body, html {
    height: 100%;
}

section {
    min-height: 100%;
}

.footer {
    position: scroll;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: #888888;
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
}