.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: black;
    border-color: black;
}

.affix a {
    color: white !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top a {
    padding: 25px !important;
}

.affix+.container-fluid {
    padding-top: 95px;
}

.mynav-container{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


.parallax-carousel-1 {
    /* The image used */
    background-image: url("../img/mrm.jpg");
    /* Set a specific height */
    height: 480px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-carousel-2 {
    /* The image used */
    background-image: url("../img/lecture.png");
    /* Set a specific height */
    height: 480px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-carousel-3 {
    /* The image used */
    background-image: url("../img/customapp.jpg");
    /* Set a specific height */
    height: 480px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover{
    color: yellow;
}

.card-text-justify {
    text-align: justify;
}

img{
    display: block;
    margin: auto;
}

.my-w3card{
    box-shadow: 5px 5px 5px #888888;
}

body, html {
    height: 100%;
}

section {
    min-height: 100%;
}

.myServices{
}

.mySectionHeader{
    color:black;
}

/* Style all font awesome icons */
.fa {
    /* padding: 10px; */
    font-size: 30px;
    width: 50px;
    text-align: left;
    text-decoration: none;
    /* margin: 5px 2px; */
  }
  
/* Add a hover effect */
.fa:hover {
      opacity: 0.7;
  }

.skillslink {
    color:blue;
    text-decoration: underline;
}  

.skillslink:hover {
    color: blue;
    font-weight: bold;
}

/* Set a specific color for each brand */
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.footer {
    position: scroll;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.myfooter-text-h1{
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 1.5px 1.5px 3px black;
}

.myfooter-text-h2{
    font-weight: bold;

    color: #666666;
    text-shadow: 1.5px 1.5px 3px white;
}