.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #F44336;
    border-color: #F44336;

}
.affix a {
    color: #fff !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top a {
    padding: 25px !important;
}
.affix + .container-fluid {
    padding-top: 95px;
}

.parallax-carousel-1 { 
    /* The image used */
    background-image: url("../img/mrm.jpg");

    /* Set a specific height */
    height: 480px; 

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-carousel-2 { 
    /* The image used */
    background-image: url("../img/lecture.png");

    /* Set a specific height */
    height: 480px; 

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-carousel-3 { 
    /* The image used */
    background-image: url("../img/customapp.jpg");

    /* Set a specific height */
    height: 480px; 

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text-justify{
    text-align: justify;
}

.footer {
    position: scroll;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
 }